.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav {
  width: 100%;
  height: 60px;
  background-color: lightcoral;
  padding-top: 10px;
}

.content {
  color: black;
  width: 80%;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
}
ul li {
  text-align: left;
}
.btn {
  background-color: lightcoral;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(133, 122, 122);
  padding: 5px;
}
input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.remove:before {
  content: "\2717";
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font: normal 1em/1 Arial, sans-serif;
  margin-left: 50px;
  color: RED;
  opacity: 0.4;
}
.remove:hover::before {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
